@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
dd, li {
  margin-bottom: 0;
}
input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  padding: 0;
  line-height: normal !important;
  min-height: auto !important;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
  height: 100%;
}

#nprogress .bar {
  z-index: 99999999 !important;
}

/*#nprogress {*/
/*  position: fixed;*/
/*  top: 102px;*/
/*  width: 100%;*/
/*  z-index: 99999999999;*/
/*}*/
.el-tabs__item {
  display: inline-flex;
  /* float: left; */
  padding: 10px 40px !important;
  border-top: 3px solid #bbb;
  border-radius: 5px 5px 0 0;
  background-color: #e8e8e8;
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  flex-shrink: 0;
  height: auto !important;
  margin-right: 10px;
}

.el-tabs__active-bar {
  display: none;
}


.el-tabs__item:hover {
  color: #562dd4 !important;
  border-color: #562dd4;
  background-color: #fff;
}

.el-tabs__item.is-top#tab-third {
  border-color: #d6226e !important;
  background-color: #e2498a;
  color: #fff;
}
.el-tabs__item.is-top#tab-third:hover {
  border-color: #e2498a !important;
  color: #e2498a !important;
  background-color: #fff;
}

.el-tabs__item.is-active,
.el-tabs__item.is-top.is-active#tab-third{
  outline: 0;
  border-color: #562dd4;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  color: #562dd4 !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.el-tabs__item.is-top.is-active#tab-third{
  color: #e2498a !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
